@charset "UTF-8";
.button {
  color: #ffffff;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  font-family: "Roboto", sans-serif;
  border: none;
  text-decoration: none;
  box-shadow: 1px 2px 1px 0 rgba(231, 75, 54, 0.5);
  font-weight: bold;
  cursor: pointer; }
  .button:hover {
    background: #f58669;
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 1px 2px 1px 0 rgba(172, 16, 0, 0.8); }
  .button:active {
    background: #f26843;
    background: -moz-linear-gradient(top, #e74b36 0%, #f26843 100%);
    background: -webkit-linear-gradient(top, #e74b36 0%, #f26843 100%);
    background: linear-gradient(to bottom, #e74b36 0%, #f26843 100%);
    box-shadow: inset 1px 2px 1px 0 rgba(172, 16, 0, 0.8); }
  .button.button-medium {
    font-size: 18px;
    line-height: 18px;
    padding: 13px 24px;
    border-radius: 22px; }
  .button.button-big {
    font-size: 32px;
    line-height: 32px;
    padding: 20px 40px;
    border-radius: 40px; }

nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between; }
  nav ul > li {
    margin-right: 10px;
    font-weight: bold;
    position: relative; }
    nav ul > li:active, nav ul > li:hover {
      background-color: #f7f6f3;
      color: #000000;
      font-weight: bold;
      border-radius: 17px;
      padding: 5px 15px; }
      nav ul > li:active svg path,
      nav ul > li:active svg g, nav ul > li:hover svg path,
      nav ul > li:hover svg g {
        fill: #000000; }
    nav ul > li:active {
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.4); }
    nav ul > li:last-child {
      margin-right: 0; }
    nav ul > li:not(.search-icon) {
      border-radius: 17px;
      padding: 5px 15px; }

.main-header {
  display: flex;
  padding: 10px 0;
  position: relative; }
  .main-header ul:not(.catalog) {
    padding: 0;
    margin: 16px;
    margin-right: 0;
    display: flex;
    justify-content: space-between; }
  .main-header .main-block {
    position: absolute;
    right: 0;
    top: 70px; }
    .main-header .main-block p {
      font-weight: bold;
      text-align: right;
      margin: 0;
      padding-bottom: 5px; }
    .main-header .main-block p:first-child {
      font-size: 14px; }
    .main-header .main-block p:last-child {
      font-size: 22px; }
  .main-header .user-menu > li > a {
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center; }
    .main-header .user-menu > li > a svg {
      margin-right: 5px; }
  .main-header .user-menu li {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2); }
    .main-header .user-menu li:hover {
      background-color: #f7f6f3; }
  .main-header .user-menu .search-icon {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center; }
    .main-header .user-menu .search-icon:hover {
      padding: 0;
      background-color: #f7f6f3; }
    .main-header .user-menu .search-icon a {
      margin: 0; }
      .main-header .user-menu .search-icon a svg {
        margin-right: 0; }
  .main-header .main-menu a {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .main-header .main-menu .catalog {
    padding: 0;
    background-color: #f8f7f4;
    color: #000000;
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 37px;
    z-index: 2; }
    .main-header .main-menu .catalog hr {
      margin: 0 -10px;
      height: 1px;
      border: 0;
      background-color: #d1d0ce; }
    .main-header .main-menu .catalog a {
      border-bottom: 0; }
    .main-header .main-menu .catalog li {
      margin: 0;
      padding: 5px 20px;
      font-size: 14px;
      font-weight: normal;
      border-bottom: none;
      white-space: nowrap; }
      .main-header .main-menu .catalog li:hover {
        background-color: #fbded7;
        border-radius: 0; }
      .main-header .main-menu .catalog li:active {
        background-color: #f6b5a5;
        box-shadow: none;
        border-radius: 0; }
      .main-header .main-menu .catalog li:first-child {
        font-weight: bold; }

.shares {
  display: flex; }

.main-info {
  background-image: url("../img/waffle.png");
  color: #323232;
  border-radius: 17px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px; }
  .main-info ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-between; }
    .main-info ul li {
      display: flex;
      width: 49%; }
      .main-info ul li p {
        margin-bottom: 0; }
      .main-info ul li svg {
        flex-shrink: 0;
        margin-right: 8px; }

.main-other {
  display: flex;
  justify-content: space-between; }
  .main-other > div {
    width: 50%; }

.main-map {
  position: relative;
  margin-bottom: 15px; }
  .main-map iframe {
    display: block; }

.address {
  background-color: #fffffe;
  color: #000000;
  position: absolute;
  right: 30px;
  bottom: 92px;
  width: 300px;
  padding: 25px;
  border-radius: 17px;
  box-sizing: border-box; }
  .address p {
    font-size: 14px;
    margin-top: 0; }
    .address p b {
      font-size: 18px; }

.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 14px; }
  .breadcrumbs a {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .breadcrumbs li + li:before {
    content: "»";
    padding: 8px; }
  .breadcrumbs .active-page a {
    pointer-events: none;
    border-bottom: none; }

.pagination {
  width: 200px;
  display: flex; }

.main-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 15px; }
  .main-footer a:hover, .main-footer a:active {
    color: #ffbc9e; }
  .main-footer ul {
    display: flex;
    padding: 0; }
    .main-footer ul.social-icons {
      display: flex;
      width: 200px;
      justify-content: space-between; }
      .main-footer ul.social-icons a {
        border: 3px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block; }
        .main-footer ul.social-icons a:hover svg g {
          fill: white; }
        .main-footer ul.social-icons a:active svg g {
          fill: rgba(255, 255, 255, 0.5); }
        .main-footer ul.social-icons a svg {
          vertical-align: top; }
          .main-footer ul.social-icons a svg g {
            fill: rgba(255, 255, 255, 0.75); }
    .main-footer ul.documents {
      display: flex;
      flex-wrap: wrap;
      width: 340px; }
      .main-footer ul.documents li {
        width: 50%; }
  .main-footer .html-academy {
    display: flex;
    flex-direction: column; }

.shares {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold; }
  .shares .button {
    position: absolute;
    right: 20px;
    bottom: 20px; }
  .shares .shares-item {
    background-repeat: no-repeat;
    border-radius: 17px;
    width: 560px;
    height: 230px;
    padding: 20px;
    box-sizing: border-box;
    position: relative; }
    .shares .shares-item.shares-one {
      background-image: url("../img/background-raspberries.jpg");
      margin-right: 2.2%; }
    .shares .shares-item.shares-two {
      background-image: url("../img/background-chocolate.jpg"); }

.main-other {
  margin-bottom: 40px; }
  .main-other .main-blog {
    color: #323232;
    background-image: url("../img/background-strawberry.jpg");
    background-repeat: no-repeat;
    border-radius: 17px;
    width: 560px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 220px;
    margin-right: 2.2%; }
    .main-other .main-blog a {
      display: block;
      width: 60%; }
  .main-other .main-spam {
    background-color: #f8f7f4;
    color: #5a5a5a;
    border-radius: 17px;
    width: 560px;
    padding: 6px;
    box-sizing: border-box;
    background-image: url("../img/stripes.png"); }
    .main-other .main-spam .main-spam-inner {
      background-color: #f8f7f4;
      border-radius: 17px;
      min-height: 208px;
      padding: 30px 20px;
      box-sizing: border-box;
      position: relative; }
      .main-other .main-spam .main-spam-inner p {
        margin: 0; }
      .main-other .main-spam .main-spam-inner form {
        display: flex;
        position: absolute;
        bottom: 30px;
        right: 20px;
        left: 20px; }
        .main-other .main-spam .main-spam-inner form .main-input {
          flex-grow: 1;
          margin-right: 10px; }

.main-input {
  box-sizing: border-box;
  height: 44px;
  padding: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  color: #999999;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  width: 100%; }

.main-form {
  background-color: #f8f7f4;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  z-index: 1; }

.main-form:not(.main-modal) {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5); }

.search-form {
  min-width: 340px;
  position: absolute;
  right: 0; }

.authorization {
  width: 280px;
  right: 0;
  box-sizing: border-box; }
  .authorization a {
    color: #323232;
    font-size: 13px; }
    .authorization a:hover, .authorization a:active {
      color: #e84d37; }
  .authorization input:not([type="submit"]) {
    margin-bottom: 20px; }
  .authorization .authorization-form-button-container {
    display: flex; }
  .authorization .authorization-form-links-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px; }

.main-modal {
  width: 440px;
  position: relative; }
  .main-modal input[type="text"] {
    margin-bottom: 20px;
    width: 265px; }
  .main-modal p {
    color: #323232;
    font-size: 24px;
    font-weight: bold; }
  .main-modal textarea {
    height: 155px;
    margin-bottom: 20px;
    display: block; }

.text-right {
  text-align: right; }

::-webkit-input-placeholder {
  color: #999999; }

::-moz-placeholder {
  color: #999999; }

/* Firefox 19+ */
:-ms-input-placeholder {
  color: #999999; }

.products-list ul {
  padding: 0;
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .products-list ul li {
    width: 22.2%;
    position: relative; }
    .products-list ul li img {
      max-width: 100%;
      height: auto; }
      .products-list ul li img.hit {
        position: absolute; }
    .products-list ul li span {
      position: absolute;
      bottom: 70px;
      font-family: "Roboto", sans-serif;
      font-size: 45px;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
      .products-list ul li span::after {
        content: "/кг";
        background-image: url("../svg-gllacy/ruble.svg");
        height: 38px;
        padding-left: 34px;
        padding-top: 12px;
        box-sizing: border-box;
        display: inline-block;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        font-size: 30px; }
    .products-list ul li a {
      text-align: center;
      display: inline-block; }

.main-slider {
  position: relative;
  height: 560px; }
  .main-slider .slider-text {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    position: absolute;
    padding: 0px 215px;
    top: 245px;
    text-align: center; }
  .main-slider .text-center {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    top: 470px; }
  .main-slider .slide-buttons {
    position: absolute;
    left: 0;
    bottom: 60px; }
    .main-slider .slide-buttons .button-slide {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #ffffff;
      margin-right: 6px;
      cursor: pointer; }
      .main-slider .slide-buttons .button-slide:hover {
        background-color: rgba(255, 255, 255, 0.5); }
      .main-slider .slide-buttons .button-slide.active {
        background-color: #ffffff; }

.sorting-container-1,
.sorting-container-2 {
  display: flex;
  align-items: flex-end; }
  .sorting-container-1 fieldset,
  .sorting-container-2 fieldset {
    border: none; }
    .sorting-container-1 fieldset .sorting-fields,
    .sorting-container-2 fieldset .sorting-fields {
      background-color: rgba(255, 255, 255, 0.3); }

.svg-checkbox {
  width: 27px;
  height: 23px;
  background-image: url("../svg-gllacy/checkbox-on.svg");
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px; }

.button-apply {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
  border-radius: 17px;
  padding: 5px 15px;
  width: 145px;
  height: 37px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-repeat: no-repeat;
  background-position: center top; }
  body.catalog-color {
    background-color: #849d8f; }
  body.slide-1 {
    background-color: #849d8f;
    background-image: url("../img/main-icecream-1.png"); }
  body.slide-2 {
    background-color: #8996a6;
    background-image: url("../img/main-icecream-2.png"); }
  body.slide-3 {
    background-color: #9d8b84;
    background-image: url("../img/main-icecream-3.png"); }
  body .centering {
    position: relative;
    margin: 0 auto;
    padding: 0 2.3%;
    width: 1200px;
    box-sizing: border-box; }
  body .visually-hidden {
    display: none; }
  body a {
    color: inherit; }
  body li {
    list-style-type: none; }
  body h2 {
    font-size: 35px;
    line-height: 41px;
    margin: 0; }
  body h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0; }

.basket,
.user-menu,
.main-form,
.catalog,
.main-modal {
  display: none; }
