@import "variables";

.main-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 15px;

  a {
    &:hover,
    &:active {
      color: #ffbc9e;
    }
  }

  ul {
    display: flex;
    padding: 0;

    &.social-icons {
      display: flex;
      width: 200px;
      justify-content: space-between;

      a {
        border: 3px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block;

        &:hover {
          svg {
            g {
              fill: rgba(255, 255, 255, 1);
            }
          }
        }

        &:active {
          svg {
            g {
              fill: rgba(255, 255, 255, 0.5);
            }
          }
        }

        svg {
          vertical-align: top;

          g {
            fill: rgba(255, 255, 255, 0.75);
          }
        }
      }
    }

    &.documents {
      display: flex;
      flex-wrap: wrap;
      width: 340px;

      li {
        width: 50%;
      }
    }
  }

  .html-academy {
    display: flex;
    flex-direction: column;
  }
}
