@import "variables";

nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  ul > li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:not(.search-icon) {
      border-radius: $main-radius;
      padding: 5px 15px;
    }
  }
}

.main-header {
  display: flex;
  padding: 10px 0;
  position: relative;

  & ul:not(.catalog) {
    padding: 0;
    margin: 16px;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .main-block {
    position: absolute;
    right: 0;
    top: 70px;

    p {
      font-weight: bold;
      text-align: right;
      margin: 0;
      padding-bottom: 5px;
    }

    p:first-child {
      font-size: 14px;
    }

    p:last-child {
      font-size: 22px;
    }
  }

  .user-menu {
    > li > a {
      text-decoration: none;
      font-size: 14px;
      font-family: $main-font;
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }

    li {
      position: relative;
      background-color: rgba(255, 255, 255, 0.2);
    }

    .search-icon {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;

      a {
        margin: 0;

        svg {
          margin-right: 0;
        }

      }
    }
  }

  .main-menu {
    a {
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
