@import "variables";

.shares {
  display: flex;
}

.main-info {
  background-image: url("../img/waffle.png");
  color: #323232;
  border-radius: $main-radius;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-between;

    li {
      display: flex;
      width: 49%;

      p {
        margin-bottom: 0;
      }

      svg {
        flex-shrink: 0;
        margin-right: 8px;
      }
    }
  }
}

.main-other {
  display: flex;
  justify-content: space-between;

  > div {
    width: 50%;
  }
}

.main-map {
  position: relative;
  margin-bottom: 15px;

  iframe {
    display: block;
  }
}

.address {
  background-color: #fffffe;
  color: #000000;
  position: absolute;
  right: 2.2%;
  bottom: 92px;
  width: 300px;
  padding: 25px;
  border-radius: $main-radius;
  box-sizing: border-box;

  p {
    font-size: 14px;
    margin-top: 0;

    b {
      font-size: 18px;
    }
  }
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 14px;

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  li + li:before {
    content: "»";
    padding: 8px;
  }

  .active-page a {
    pointer-events: none;
    border-bottom: none;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;

  li {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active-pagination {
      background-color: #ffffff;
      color: black;
    }

    &:hover:not(.active-pagination) {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.disabled {
      color: rgba(255, 255, 255, 0.2);
    }

    a {
    text-decoration: none;
    }
  }
}

.divider-line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
}
