@import "variables";

.shares {
  display: flex;
}

.main-product {
  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      width: 22.2%;

      img {
        max-width: 100%;
        height: auto;
      }

      span {
        position: absolute;
      }
    }
  }
}

.main-info {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      width: 50%;

      svg {
        flex-shrink: 0;
      }
    }
  }
}

.main-other {
  display: flex;
  justify-content: space-between;

  div {
    width: 50%;
  }
}

.main-map {
  position: relative;
}

.address {
  background-color: #fffffe;
  color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
