@import "variables";

.shares {
  display: flex;
}

.main-info {
  background-image: url("../img/waffle.png");
  color: #323232;
  border-radius: $main-radius;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 2.2%;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-between;

    li {
      display: flex;
      width: 49%;

      p {
        margin-bottom: 0;
      }

      svg {
        flex-shrink: 0;
        margin-right: 8px;
      }
    }
  }
}

.main-other {
  display: flex;
  justify-content: space-between;

  > div {
    width: 50%;
  }
}

.main-map {
  position: relative;
}

.address {
  background-color: #fffffe;
  color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
