@import "variables";

.shares {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;

  .button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  .shares-item {
    background-repeat: no-repeat;
    border-radius: $main-radius;
    width: 560px;
    height: 230px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    &.shares-one {
      background-image: url("../img/background-raspberries.jpg");
      margin-right: 2.2%;
    }
    &.shares-two {
      background-image: url("../img/background-chocolate.jpg");
    }
  }
}
