@import "variables";

.main-slider {
  position: relative;
  height: 560px;

  .slider-text {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    position: absolute;
    padding: 0px 215px;
    top: 245px;
    text-align: center;
  }

  .text-center {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    top: 470px;
  }
}
