@import "variables";

.main-slider {
  position: relative;

  .slider-text {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    position: absolute;
    bottom: 335px;
    padding: 0px 215px;
  }

  .button.button-big {
    position: absolute;
    bottom: 300px;
    right: 40%;
    text-decoration: none;
  }
}
