@import "variables";

.main-slider {
  position: relative;
  height: 560px;

  .main-slider-slide {
    display: none;

    &.slide-active {
      display: block;
    }
  }

  .slider-text {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    position: absolute;
    padding: 0px 115px;
    top: 245px;
    text-align: center;
  }

  .text-center {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    top: 450px;
  }

  .slide-buttons {
    position: absolute;
    left: 0;
    bottom: 60px;

    .button-slide {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #ffffff;
      margin-right: 6px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }

      &.active {
        background-color: #ffffff;
      }
    }
  }
}
