@import "buttons";
@import "variables";
@import "header";
@import "index";
@import "footer";
@import "shares";
@import "main-other";
@import "forms";
@import "product";
@import "slider";
@import "sorting";

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-repeat: no-repeat;
  background-position: center top;

  &.catalog-color {
    background-color: $slide-1-color;
  }

  &.slide-1 {
    background-color: $slide-1-color;
    background-image: url("../img/main-icecream-1.png");
  }

  &.slide-2 {
    background-color: $slide-2-color;
    background-image: url("../img/main-icecream-2.png");
  }

  &.slide-3 {
    background-color: $slide-3-color;
    background-image: url("../img/main-icecream-3.png");
  }

  .centering {
    position: relative;
    margin: 0 auto;
    padding: 0 2.3%;
    max-width: 1200px;
    min-width: 900px;
    box-sizing: border-box;
  }

  .visually-hidden {
    display: none;
  }

  a {
    color: inherit;
  }

  li {
    list-style-type: none;
  }

  h2 {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
  }
}


.user-menu,
.main-form,
.catalog,
.main-modal
 {
  display: none;
}
